.main {
  min-height: 100vh;
  margin-top: 80px;
}
.wrapper {
  display: flex;
}
.heading {
  font-size: 32px;
  margin-bottom: 20px;
}
.leftCol,
.rightCol {
  width: 50%;
}
.dailyQuestion {
  font-size: 24px;
  font-family: sans-serif;
}
.answerList {
  width: 75%;
  height: 440px;
  overflow: scroll;
  background: white;
  border-radius: 22px;
  padding: 40px;
  margin-top: 40px;
}
.answer {
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 400;
  margin: 10px 0;
}
